* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Soure Sans Pro", sans-serif;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
}

header{
    background: #373a3c;
    padding: 11px 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-body{
    display: flex;
    text-align: center;
    list-style: none;
}

.menu-item{
    margin: 0 0 0 25px;
}

.menu-item a {
    text-decoration: none;
    color: #979797;
}

.menu-item a:hover {
    color: #fff;
}

.home {
    height: 100vh;
    background: url(../image/studio.jpg) no-repeat center / cover;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home{
    min-height: 100%;
}